/* style.css */

/* Set background color for the entire page */
body {
    color: white;
    background-color: lightblue;
}

/* Style the heading */
h1 {
    color: white;
    text-align: center;
}

/* Style paragraphs */
p {
    font-family: verdana;
    font-size: 20px;
}
